
**WEEK 01 & WEEK 02**

**WEEK 01 :**

**WEEKLY EXERCISE 1**

In [ ]:
print('Nama         : Galang Dwi Santoso\n')
print('NPM          : 2440506078\n')
print('Alamat       : Bandongan, Magelang, Jawa Tengah\n')
print('Tinggi Badan : 163 cm\n')
print('Berat Badan  : 70 kg\n')

Nama         : Galang Dwi Santoso

NPM          : 2440506078

Alamat       : Bandongan, Magelang, Jawa Tengah

Tinggi Badan : 163 cm

Berat Badan  : 70 kg

**WEEKLY EXERCISE 2**

In [ ]:
print('\033[1mUNIVERSITAS TIDAR\033[0m')
print('Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.\n')
print('\033[1mJURUSAN TEKNIK ELEKTRO, MEKATRONIKA DAN INFORMASI\033[0m')
print('Jurusan Teknik Elektro terdiri atas tiga program studi, antara lain:')
print('    1. S1 Teknik Elektro \033[3m(Bachelor of Electrical)\033[0m')
print('    2. S1 Teknologi Informasi \033[3m(Bachelor of Information Technology)\033[0m')
print('    3. S1 Teknik Mekatronika \033[3m(Bachelor of Mechatronics Engineering)\033[0m')

UNIVERSITAS TIDAR
Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.

JURUSAN TEKNIK ELEKTRO, MEKATRONIKA DAN INFORMASI
Jurusan Teknik Elektro terdiri atas tiga program studi, antara lain:
    1. S1 Teknik Elektro (Bachelor of Electrical)
    2. S1 Teknologi Informasi (Bachelor of Information Technology)
    3. S1 Teknik Mekatronika (Bachelor of Mechatronics Engineering)

**WEEK 02 :**

**Weekly Exercise 01**

In [ ]:
Panjang = 20.5
Lebar = 25
Tinggi = 10

Keliling = 2 * (Panjang + Lebar)
Luas = Panjang * Lebar
Volume = Panjang * Lebar * Tinggi

print('Panjang   =',Panjang)
print('Lebar     =',Lebar)
print('Tinggi    =',Tinggi)
print('Keliling  =',Keliling)
print('Luas      =',Luas)
print('Volume    =',Volume)

Panjang   = 20.5
Lebar     = 25
Tinggi    = 10
Keliling  = 91.0
Luas      = 512.5
Volume    = 5125.0

**Weekly Exercise 02**

In [ ]:
# k singkatan dari Kalkulus

shafira_k  = 85
amanda_k   = 80
aditya_k   = 75
nedia_k    = 95
widya_k    = 85
hanif_k    = 75
andi_k     = 70
dhanar_k   = 85
hikma_k    = 80

# ms singkatan dari Matematika Statistika
shafira_ms = 75
amanda_ms  = 90
aditya_ms  = 80
nedia_ms   = 80
widya_ms   = 85
hanif_ms   = 95
andi_ms    = 75
dhanar_ms  = 85
hikma_ms   = 75

#rr singkatan dari rata-rata
#n singkatan dari nilai

# Rata Rata Nilai Shafira
rr_n_shafira=(shafira_k+shafira_ms) /2
# jumlah nilai hanif dan andi
jmlh_n_hanif_dan_andi=hanif_k+hanif_ms+andi_k+andi_ms
# rata rata nilai kalkulus widya dhanar hikma dan nedia
rr_n_kalkulus_widya_dhanar_hikma_dan_nedia=(widya_k+dhanar_k+hikma_k+nedia_k) /4
# rata rata  nilai metode statistika widya dhanar hikma dan nedia
rr_n_statistika_widya_dhanar_hikma_dan_nedia=(widya_ms+dhanar_ms+hikma_ms+nedia_ms) /4
# rata rata nilai mata kuliah kalkulus
rr_n_mata_kuliah_kalkulus=(shafira_k+amanda_k+aditya_k+nedia_k+widya_k+hanif_k+andi_k+dhanar_k+hikma_k) /9
# rata rata nilai mata kuliah metode Statistika
rr_n_mata_kuliah_statistika=(shafira_ms+amanda_ms+aditya_ms+nedia_ms+widya_ms+hanif_ms+andi_ms+andi_ms+dhanar_ms+hikma_ms) /9

print("Rata-Rata Nilai Shafira=",rr_n_shafira)
print("Jumlah Nilai Hanif dan Andi=",jmlh_n_hanif_dan_andi)
print("Rata-Rata Nilai Kalkulus Widya,Dhanar,Hikma, dan Nedia=",rr_n_kalkulus_widya_dhanar_hikma_dan_nedia)
print("Rata-Rata Nilai Matematika Statistika Widya,Dhanar,Hikma dan Nedia =", rr_n_statistika_widya_dhanar_hikma_dan_nedia)
print("Rata-Rata Nilai Mata Kuliah Kalkulus=", rr_n_mata_kuliah_kalkulus)
print("Rata-Rata Nilai Mata Kuliah Metode Statistika=", rr_n_mata_kuliah_statistika)

Rata-Rata Nilai Shafira= 80.0
Jumlah Nilai Hanif dan Andi= 315
Rata-Rata Nilai Kalkulus Widya,Dhanar,Hikma, dan Nedia= 86.25
Rata-Rata Nilai Matematika Statistika Widya,Dhanar,Hikma dan Nedia = 81.25
Rata-Rata Nilai Mata Kuliah Kalkulus= 81.11111111111111
Rata-Rata Nilai Mata Kuliah Metode Statistika= 90.55555555555556

**Weekly Exercise 03**

**SOAL NOMOR 1**

In [ ]:
# Soal Nomor 1

agustus     = 31
hari_masuk  = agustus - 3
gaji_perjam = 30.000
jam_kerja   = 8
total_gaji  = (hari_masuk * jam_kerja) * gaji_perjam
print('Gaji Dwi Pada Bulan Agustus adalah Rp.', total_gaji)

Gaji Dwi Pada Bulan Agustus adalah Rp. 6720.0

**SOAL NOMOR 2**

In [ ]:
# Soal Nomor 2

persen          = 10/100
besar_persen    = (agustus * gaji_perjam) *persen
besar_tunjangan = total_gaji + besar_persen
print('Gaji Akhir Dwi Setelah Dapet Tunjangan adalah Rp', besar_tunjangan)

Gaji Akhir Dwi Setelah Dapet Tunjangan adalah Rp 6813.0

**SOAL NOMOR 3**

In [ ]:
# Soal Nomor 3

lembur = 5 * 10.000
print('Gaji Total Dwi Pada Bulan Agustus adalah Rp', besar_tunjangan+total_gaji)

Gaji Total Dwi Pada Bulan Agustus adalah Rp 13533.0